body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.personagen {
  width: 150px;
  position: absolute;
  bottom: 0;
}

/* TÍTULO DA TELA INICIAL */
h1{
  color: rgb(0, 0, 0);
}

button{
  width: 30%;
  height: 45px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5mm;
  margin: 10px;
  display: flex;
  align-items: center;

  cursor: pointer;
  transition: all .3s ease;
  
  &:hover{
    background-color: #003c7c;
  }
}

#choices{
  margin-bottom: 15px;
}

/* BOTÃO DE DAR PLAY E PAUSE NA MÚSICA */
#musicButton {
  width: 65px;
  background-color: #007bff; /* Cor de fundo azul */
  color: white; /* Cor do texto branco */
  border: none; /* Sem borda */
  padding: 10px 20px; /* Espaçamento interno */
  font-size: 16px; /* Tamanho da fonte */
  border-radius: 10mm; /* Bordas arredondadas */
  cursor: pointer; /* Cursor de ponteiro ao passar por cima */
  margin-left: 700px; /* Posicionando o botão a direita na tela */
}

#musicButton:hover {
  background-color: #003c7c; /* Cor de fundo mais escura ao passar por cima */
}

/* BOTÃO DE REINICIAR O JOGO */
#restartButton {
  width: 100px;
  background-color: #fa0000; /* Cor de fundo azul */
  color: white; /* Cor do texto branco */
  border: none; /* Sem borda */
  padding: 10px 20px; /* Espaçamento interno */
  font-size: 16px; /* Tamanho da fonte */
  border-radius: 10mm; /* Bordas arredondadas */
  cursor: pointer; /* Cursor de ponteiro ao passar por cima */
  margin-left: 685px; /* Posicionando o botão a direita na tela */
}

#restartButton:hover {
  background-color: #7c0000; /* Cor de fundo mais escura ao passar por cima */
}

